---
layout: default
title: "For Code Sake"
excerpt: "A blog that primarily focusses on Swift and the frameworks that make up the iOS and OS X ecosystems."
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    {% if post.link %}
    <h1 class="post-title-linked">
      <a href="{{ post.link }}">
        {{ post.title }}
      </a>
      </h1>
      {% else %}
      <h1 class="post-title">
      {% if post.article %}
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }} <p class="sig"></p>
      </a> </h1>
      {% else %}
       <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a> 
          </h1>
          {% endif %}
	{% endif %}

    <div class="details"><time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time> <a href="{{ site.url }}{{ post.url }}">∞</a></div>
    {{ post.excerpt }}  <a href="{{ site.url }}{{ post.url }}">Read More ></a> 
    <hr>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
