<head>
  	<link href="http://gmpg.org/xfn/11" rel="profile">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta http-equiv="content-type" content="text/html; charset=utf-8">
  	<meta name="referrer" content="unsafe-url">
  	<link rel="canonical" href="http://forcodesake.me">
  	<!-- Enable responsiveness on mobile devices-->
  	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">


	<!-- Page Meta -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@_forCodeSake" />
	<meta content="{{ site.title }}" property="og:site_name">
	<!-- Title -->
{% if page.title %}
  	<meta content="{{ page.title }}" property="og:title">
  	<meta name="twitter:title" content="{{ page.title }}" />
  	<title>{{ page.title }}</title>
{% else %}
  	<meta content="{{ site.title }}" property="og:title">
  	<meta name="twitter:title" content="{{ site.title }}" />
  	<title>forCodeSake()</title>
{% endif %}
	<!-- Description -->
{% if page.excerpt %}
  	<meta content="article" property="og:type">
  	<meta content="{{ site.seodescription }}" property="og:description">
  	<meta name="twitter:description" content="{{ page.excerpt }}" />
  	<meta name="description" content="{{ page.excerpt }}" />
{% else %}
  	<meta content="website" property="og:type">
  	<meta content="{{ site.seodescription }}" property="og:description">
  	<meta name="twitter:description" content="{{ site.description }}" />
  	<meta name="description" content="{{ site.description }}" />
{% endif %}
{% if page.url %}
  	<meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  	<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  	<meta content="{{ site.url }}/about/" property="article:author">
{% endif %}

  <!-- CSS & JS -->
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7030494/6965552/css/fonts.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/bd448a25c3.js"></script>
{% if site.devset %}
{% bundle %}
- /public/css/poole.css
- /public/css/syntax.css
- /public/css/lanyon.css
- /public/css/bigfoot-number.css
- /public/js/bigfoot.js
{% endbundle %}
{% else %}
<link rel="stylesheet" type="text/css" href="/assets/css/forcodesake.css" />
<script src="/assets/js/bigfoot.min.js"></script>
{% endif %}
<script type="text/javascript">
    $.bigfoot();
</script>

  <!-- Icons -->
 <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="RSS-Atom" href="/feed.xml">
  
  <!-- Javascript -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47125896-4', 'auto');
  ga('send', 'pageview');

</script>
  
  
</head>
