<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" or node.title == "Articles" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
  	<p>Followable on:<br><a href="https://twitter.com/_forCodeSake"><i class="fa fa-twitter fa-fw"></i> Twitter</a><br><a href="http://feedpress.me/forcodesake"><i class="fa fa-rss fa-fw"></i> RSS</a><br><a href="https://apple.news/Ttqn-3BS9TWWEPX6C4J3A5Q"><i class="fa fa-apple fa-fw"></i> Apple News</a><br><a href="https://github.com/forcodesakeexamples"><i class="fa fa-github fa-fw"></i> GitHub</a>
  	</p>
  	<p>
      &copy; Stuart Breckenridge, {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
    
  </div>
</div>
