---
layout: page
title: "Archives"
excerpt: "A list of all posts made on this site."
---

<div class="posts">
  {% for post in site.posts %}
  <article style="list-style:none; line-height:18px; margin-bottom:5px !important; margin-top:5px;">
     <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date" style="width:6em;">{{ post.date | date_to_string }}</time>
     <a style="padding: 3px;" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
     </article>
     
  {% endfor %}
</div>
