---
layout: default
---


<div class="post">
  {% if page.article %}
  <h1 class="post-title">{{ page.title }}</h1>
  {% else %}
  <h1 class="post-title">{{ page.title }}</h1>
  {% endif %}
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <hr>
  {% if site.devset %}
   {% else %}
  <div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = "{{ site.url }}{{ page.url }}" 
this.page.identifier = "{{ page.identifier }}" 
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//forcodesake.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
</div>


<!--<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>-->
